In [2]:
import pandas as pd
df = pd.read_csv("Sales_add.csv")

In [3]:
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

Is any increase in sales after stepping into digital marketing.

In [3]:
df.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

In [5]:
sales_before = df['Sales_before_digital_add(in $)']
sales_after = df['Sales_After_digital_add(in $)']

In [6]:
from scipy import stats

t_stat, p_value = stats.ttest_rel(sales_before, sales_after)

In [7]:
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.")
else:
    print("Fail to reject the null hypothesis. There is no significant increase in sales after implementing digital marketing.")

Reject the null hypothesis. There is a significant increase in sales after implementing digital marketing.

 check whether there is any dependency between the features “Region” and “Manager”.

In [9]:
region = df['Region']
manager = df['Manager']

In [13]:
from scipy.stats import chi2_contingency

contingency_table = pd.crosstab(region, manager)
chi2, p, dof, expected = chi2_contingency(contingency_table)

In [14]:
alpha = 0.05

if p < alpha:
    print("Reject the null hypothesis. Region and Manager are dependent.")
else:
    print("Fail to reject the null hypothesis. Region and Manager are independent.")

Fail to reject the null hypothesis. Region and Manager are independent.